@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	/* Colours */
	--primary-clr: hsl(122, 39%, 49%);
	--secondary-clr: hsl(200, 19%, 18%);
	--info-clr: hsl(207, 90%, 54%);

	--dark-grey: hsl(0, 0%, 30%);
	--grey: hsl(0, 0%, 44%);
	--light-grey: hsl(211, 10%, 58%);
	--grey-blue: hsl(210, 29%, 75%);
	--silver: hsl(216, 33%, 97%);
	--white: hsl(0, 0%, 100%);

	--shade: hsl(122, 43%, 39%);

	--warning: hsl(43, 96%, 58%);
	--error: hsl(1, 77%, 55%);
	--success: hsl(122, 46%, 34%);

	/* Sizing */
	--content-padding: 2rem;
	--navbar-height: 4rem;

	/* Shadows */
	--_shadow-clr: hsla(210, 29%, 75%, 0.6);
	--shadow-xs: 0 0.11rem 0.22rem var(--_shadow-clr);
	--shadow-s: 0 0.22rem 0.44rem var(--_shadow-clr);

	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: var(--secondary-clr);
}

@media screen and (min-width: 40em) {
	:root {
		--content-padding: 5rem;
	}
}

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

h1 {
	font-size: 3.55rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.55rem;
}

h4 {
	font-size: 1.11rem;
}

a:focus-visible {
	outline: 0.2em solid var(--primary-clr);
}

label {
	font-weight: bold;
}

label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after,
label:has(+ * input[required])::after,
label:has(+ * textarea[required])::after,
label:has(+ * select[required])::after {
	content: ' *';
	color: var(--error);
}

input:not([type='file']),
textarea,
select {
	border: none;
	background-color: var(--silver);
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	filter: drop-shadow(var(--shadow-xs));
	transition: filter 0.3s;
	accent-color: var(--primary-clr);
}

input:not([type='file']):hover,
textarea:hover,
select:hover {
	filter: drop-shadow(var(--shadow-s));
}

input:not([type='file']):focus-visible,
textarea:focus-visible,
select:focus-visible {
	outline: 0.2em solid var(--primary-clr);
}

/* File input styles */
input[type='file'] {
	font-size: 0.8rem;
	color: var(--grey);
}

input[type='file']::file-selector-button {
	display: none;
}

.input__file label {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.2rem dashed var(--secondary-clr);
	cursor: pointer;
	height: 100%;
	min-height: 15rem;
	position: relative;
}

.input__file--preview {
	position: absolute;
	width: 100%;
	height: inherit;
	object-fit: cover;
}

/* Grid system */
.grid {
	--_grid-layout-gap: 1rem;
	--_grid-column-count: 3;
	--_grid-item--min-width: 15rem;

	--_gap-count: calc(var(--_grid-column-count) - 1);
	--_total-gap-width: calc(var(--_gap-count) * var(--_grid-layout-gap));
	--_grid-item--max-width: calc(
		(100% - var(--_total-gap-width)) / var(--_grid-column-count)
	);

	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(max(var(--_grid-item--min-width), var(--_grid-item--max-width)), 1fr)
	);
	gap: var(--_grid-layout-gap);
}

.btn {
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	padding: 0.75em 2em;
	border-radius: 0.5rem;
	background-color: var(--primary-clr);
	cursor: pointer;
	outline: none;
	color: var(--white);
	border: none;
}

.btn:focus-visible:not(.btn--disabled) {
	outline: 0.2em solid var(--secondary-clr);
}

.btn:active:not(.btn--disabled) {
	background-color: var(--shade);
}

.btn--invert:not(.btn--disabled) {
	background-color: var(--white);
	border: 0.2em solid var(--primary-clr);
	color: var(--primary-clr);
}

.btn--invert:active:not(.btn--disabled) {
	background-color: hsl(from var(--silver) h s 95%);
}

.btn--next::after,
.btn--add::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--white);
}

.btn--next::after {
	-webkit-mask-image: url('../../icons/arrow.svg');
	mask-image: url('../../icons/arrow.svg');
}

.btn--add::before {
	-webkit-mask-image: url('../../icons/add.svg');
	mask-image: url('../../icons/add.svg');
}

.btn--invert.btn--next::after,
.btn--invert.btn--add::before {
	background: var(--primary-clr);
}

.btn--error,
.btn--invert.btn--error {
	background-color: var(--error);
	color: var(--white);
}

.btn--invert.btn--error {
	border-color: var(--error);
}

.btn--error:active:not(.btn--disabled) {
	background-color: hsl(from var(--error) h s 25%);
}

.btn--disabled {
	background-color: var(--silver);
	color: var(--grey-blue);
}

.btn--disabled.btn--next::after,
.btn--disabled.btn--add::before {
	background-color: var(--grey-blue);
}

.errors,
.success {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.errors {
	background-color: hsl(from var(--error) h s l / 0.2);
	border: 0.1em solid var(--error);
	color: var(--error);
}

.success {
	background-color: #c8e6c9;
	border: 0.1em solid var(--success);
	color: var(--success);
}
