main {
	margin: 0 auto;
	padding-inline: var(--content-padding);
	width: min(100%, 75ch);
}

h1 {
	margin-block: 1rem;
}

.forgot-password {
	display: grid;
	gap: 2rem;
	margin-bottom: 2rem;
}

.forgot-password__input {
	display: grid;
}

.forgot-password p {
	text-align: center;
}
