main {
	margin: 0 auto;
	padding-inline: var(--content-padding);
	width: min(100%, 75ch);
	min-height: calc(100dvh - var(--navbar-height));
}

h1 {
	margin-block: 1rem;
}

.signin {
	display: grid;
	gap: 2rem;
	margin-bottom: 2rem;
}

.signin__input {
	display: grid;
}

.signin__input--options {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-block: -1rem;
	font-size: 0.9rem;
}

.signin__input--options label {
	font-weight: normal;
	color: var(--grey);
}

.signin p {
	text-align: center;
}
